/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.25;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Debug styles
 */
/*
section {
    background-color: #FBB;
}
*/

/**
 * Webfont definitions
 */
@font-face {
    font-family: 'Rupture';
    src: url('fonts/rupture_web/rupture-webfont.eot');
    src: url('fonts/rupture_web/rupture-webfont.eot?#iefix') format('eot'),
    url('fonts/rupture_web/rupture-webfont.woff') format('woff'),
    url('fonts/rupture_web/rupture-webfont.ttf') format('truetype'),
    url('fonts/rupture_web/rupture-webfont.svg#webfontgcwKlGj6') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: Rupture;
}




















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


/*
 * Main layout
 */
html, body {
    height: 100%;
    background:
        #EEE
        url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/cream_dust.png")
        repeat
        0px 0px;
}
body > div {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -15em;
}
header,
.video-wrapper,
.additional-content-wrapper > div,
footer > div {
    width: 60em; /* 960px */
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 1.25em;
    line-height: 1em;
    margin: 0 auto;
    padding-top: 2em;
}

p {
    max-width: 40em;
    margin: 1.25em auto;
    text-align: left;
}

p strong {
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1em;
}

/* Secondary elements to hide when a video is playing. */
/*
header,
footer,
.additional-content-wrapper {
    opacity: 1;
   -moz-transition: opacity .5s ease 0s;
-webkit-transition: opacity .5s ease 0s;
     -o-transition: opacity .5s ease 0s;
        transition: opacity .5s ease 0s;
}
.opacity-zero {
    opacity: .1;
   -moz-transition: opacity 4s ease 10s !important;
-webkit-transition: opacity 4s ease 10s !important;
     -o-transition: opacity 4s ease 10s !important;
        transition: opacity 4s ease 10s !important;
}*/

/*
 * Header
 */

header {
    overflow: hidden;
    margin-bottom: 5em;
    text-align: center;
}
    header > h1::before,
    header > h1::after {
        content: ' ';
        display: inline-block;
        margin: 0 30px;
        width: 54px;
        height: 41px;
        vertical-align: text-top;
        background: url('../img/sprite.png') 0 0 no-repeat;
    }
    header > h1::after {
        background-position: -54px 0;
    }
    header h1 span {
        font-size: 0.5em;
        line-height: 2em;
        vertical-align: middle;
    }
    header ul {
        margin: 0 0 .8em;
        padding: 0;
        font-size: 1.25em;
        line-height: 1.6em;
    }
    header li,
    .video-controls li {
        display: inline;
    }
    header li::before,
    header li:last-of-type::after  {
        content: ' ';
        display: inline-block;
        margin: 0 7px 0 0;
        width: 34px;
        height: 19px;
        vertical-align: text-top;
        background: url('../img/sprite.png') 0 -72px no-repeat;
    }
    header li:last-of-type::after {
        margin: 0 0 0 7px;
    }

    /* Sticky menu */
    header .affix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(255,255,255,.9);
   -moz-box-shadow: 0 0 .8em .2em rgba(255,255,255,.9);
-webkit-box-shadow: 0 0 .8em .2em rgba(255,255,255,.9);
        box-shadow: 0 0 .8em .2em rgba(255,255,255,.9);
    }
    header nav {
        min-height: 3em;
    }

/*
 * Footer
 */

.footer-pusher {
    height: 20em;
}
footer {
    padding: 2.5em 0 5em;
    background: rgba(60,20,0,.4);
    background: -moz-radial-gradient(center, ellipse cover, rgba(60,20,0,.8) 0%, rgba(60,20,0,.4) 100%);
    background: -webkit-gradient(radial, 0 200%, 0px, center center, 100%, color-stop(0%,rgba(60,20,0,.8)), color-stop(100%,rgba(60,20,0,.4)));
    background: -webkit-radial-gradient(0 200%, ellipse cover, rgba(60,20,0,.8) 0%, rgba(60,20,0,.4) 100%);
    background: -o-radial-gradient(0 200%, ellipse cover, rgba(60,20,0,.8) 0%, rgba(60,20,0,.4) 100%);
    background: -ms-radial-gradient(0 200%, ellipse cover, rgba(60,20,0,.8) 0%, rgba(60,20,0,.4) 100%);
    background: radial-gradient(ellipse at 0 200%, rgba(60,20,0,.8) 0%, rgba(60,20,0,.4) 100%);
   -moz-box-shadow: 0 0 1em rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 1em rgba(0,0,0,.5);
        box-shadow: 0 0 1em rgba(0,0,0,.5);
}
    footer > div {
        width: 30em;
    }
    footer > div > * {
        float: left;
        width: 50%; /* 240px */
    }
    footer ul,
    .makingoff ul {
        padding: 0;
    }
        footer li,
        .makingoff li {
            list-style: none;
        }
        footer li::before,
        .makingoff li::before {
            content: ' ';
            display: inline-block;
            margin: 0 7px 0 0;
            width: 18px;
            height: 10px;
            vertical-align: middle;
            background: url('../img/sprite.png') -34px -72px no-repeat;
        }

/**
 * Links
 */

a:link,
a:link {
    color: #222;
    text-decoration: none;
}
a:visited,
a:visited {
    color: #444;
}
a:hover,
a:active,
a:focus {
    color: #000;
    text-decoration: underline;
}
p a:link,
.makingoff a:link {
    text-decoration: underline;
}


/*
 * Panes layout
 */

.video-wrapper {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 5em;
    background-color: #000;
   -moz-box-shadow: 0 0 1em rgba(0,0,0,.6);
-webkit-box-shadow: 0 0 1em rgba(0,0,0,.6);
        box-shadow: 0 0 1em rgba(0,0,0,.6);
}
    section > .column {
        display: table-column;
        width: 12em; /* 192px */
   -moz-transition: all .2s;
-webkit-transition: all .2s;
     -o-transition: all .2s;
    -ms-transition: all .2s;
        transition: all .2s;
    }
    section > .closed-column {
        width: 5em; /* 80px */
    }
    section > .opened-column {
        width: 40em; /* 640px */
    }
    .video-wrapper article {
        display: table-cell;
        overflow: hidden;
        cursor: pointer;
    }
    .video-wrapper article.no-cursor {
        cursor: none;
    }
        .video-wrapper article > div {
            position: relative;
        }

        /* Block displayed at the end */
        .related-videos {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            color: #FFF;
            cursor: auto;
            background-image:
                url('../img/pas-d.png'),
                url('../img/pas-g.png'),
                url('../img/pas-d.png'),
                url('../img/pas-g.png'),
                url('../img/pas-d.png'),
                url('../img/pas-g.png');
            background-position:
                30% 107%,
                45% 95%,
                61% 96%,
                74% 82%,
                89% 87%,
                103% 71%;
            background-repeat: no-repeat;
        }
        .related-videos:not(.hidden) {
       -moz-animation: relatedVideos 8s step-end 1;
    -webkit-animation: relatedVideos 8s step-end 1;
         -o-animation: relatedVideos 8s step-end 1;
            animation: relatedVideos 8s step-end 1;
        }
        @-moz-keyframes relatedVideos {
            from { background-position: 30% 107%, -100% -100%, -100% -100%, -100% -100%, -100% -100%, -100% -100%; }
            20% { background-position: 30% 107%, 45% 95%, -100% -100%, -100% -100%, -100% -100%, -100% -100%; }
            40% { background-position: 30% 107%, 45% 95%, 61% 96%, -100% -100%, -100% -100%, -100% -100%; }
            60% { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, -100% -100%, -100% -100%; }
            80% { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, 89% 87%, -100% -100%; }
            to { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, 89% 87%, 103% 71%; }
        }
        @-webkit-keyframes relatedVideos {
            from { background-position: 30% 107%, -100% -100%, -100% -100%, -100% -100%, -100% -100%, -100% -100%; }
            20% { background-position: 30% 107%, 45% 95%, -100% -100%, -100% -100%, -100% -100%, -100% -100%; }
            40% { background-position: 30% 107%, 45% 95%, 61% 96%, -100% -100%, -100% -100%, -100% -100%; }
            60% { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, -100% -100%, -100% -100%; }
            80% { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, 89% 87%, -100% -100%; }
            to { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, 89% 87%, 103% 71%; }
        }
        @-o-keyframes relatedVideos {
            from { background-position: 30% 107%, -100% -100%, -100% -100%, -100% -100%, -100% -100%, -100% -100%; }
            20% { background-position: 30% 107%, 45% 95%, -100% -100%, -100% -100%, -100% -100%, -100% -100%; }
            40% { background-position: 30% 107%, 45% 95%, 61% 96%, -100% -100%, -100% -100%, -100% -100%; }
            60% { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, -100% -100%, -100% -100%; }
            80% { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, 89% 87%, -100% -100%; }
            to { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, 89% 87%, 103% 71%; }
        }
        @keyframes relatedVideos {
            from { background-position: 30% 107%, -100% -100%, -100% -100%, -100% -100%, -100% -100%, -100% -100%; }
            20% { background-position: 30% 107%, 45% 95%, -100% -100%, -100% -100%, -100% -100%, -100% -100%; }
            40% { background-position: 30% 107%, 45% 95%, 61% 96%, -100% -100%, -100% -100%, -100% -100%; }
            60% { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, -100% -100%, -100% -100%; }
            80% { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, 89% 87%, -100% -100%; }
            to { background-position: 30% 107%, 45% 95%, 61% 96%, 74% 82%, 89% 87%, 103% 71%; }
        }
            .related-videos a {
                position: absolute;
                top: 0;
                left: 12em;
                right: 12em;
                padding: 2em 1em 0;
                font-size: 1.25em;
                line-height: 2;
                color: #222;
                background-color: #EEE;
                background-color: rgba(255,255,255,.9);
           -moz-box-shadow: 0 0 1em rgba(255,255,255,.8);
        -webkit-box-shadow: 0 0 1em rgba(255,255,255,.8);
                box-shadow: 0 0 1em rgba(255,255,255,.8);
           -moz-transition: padding .1s;
        -webkit-transition: padding .1s;
             -o-transition: padding .1s;
            -ms-transition: padding .1s;
                transition: padding .1s;
            }
            .related-videos a:hover {
                background-color: rgba(255,255,255,1);
                padding-top: 3em;
            }
            .related-videos a:first-child {
                left: 2em;
                right: 22em;
            }
            .related-videos a:last-child {
                left: 22em;
                right: 2em;
            }
            .related-videos .replay {
                padding-top: 0;
            }
            .replay span:before {
                content: ' ';
                display: inline-block;
                width: 1.25em;
                height: 1.25em;
                margin: 0 .4em 0 -.2em;
                vertical-align: text-bottom;
                background: url('../img/sprite.png') no-repeat -50px -72px;
            }

        /* video controls */
        .video-controls {
            position: absolute;
            bottom: 2.5em;
            left: 0;
            right: 0;
            cursor: auto;
            opacity: 1;
            background-color: #EEE;
            background-color: rgba(255,255,255,.9);
       -moz-box-shadow: 0 0 0.8em 0.2em rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 0.8em 0.2em rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 0.8em 0.2em rgba(255, 255, 255, 0.9);
       -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;
        }
        .video-controls.opacity-zero {
            opacity: 0;
       -moz-transition: opacity .4s !important;
    -webkit-transition: opacity .4s !important;
         -o-transition: opacity .4s !important;
            transition: opacity .4s !important;
        }
        .video-controls div a {
            position: absolute;
            bottom: 5em;
            left: -7.5em;
            display: block;
            width: 10em;
            line-height: 2.5;
            text-align: right;
            background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
       -moz-box-shadow: 0 0 0.8em 0.2em rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 0.8em 0.2em rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 0.8em 0.2em rgba(255, 255, 255, 0.9);
       -moz-transition: left .2s;
    -webkit-transition: left .2s;
         -o-transition: left .2s;
            transition: left .2s;
        }
        .video-controls .fullscreen {
            bottom: 10em;
        }
        .video-controls div a:hover,
        .video-controls div a:focus,
        .video-controls div a:active {
            left: 0;
        }
        .video-controls div a::after {
            content: " ";
            display: inline-block;
            height: 1.25em;
            width: 1em;
            margin-left: 0.75em;
            margin-right: 0.75em;
            vertical-align: middle;
            background: url("../img/sprite.png") no-repeat -2px -100px;
        }
        .video-controls .fullscreen::after {
            margin-left: 0.5em;
            margin-right: 0.5em;
            width: 1.5em;
            background-position: -33px -100px;
        }
        .video-controls .play::after {
            background-position: -2px -100px;
        }
        .video-controls .pause::after {
            background-position: -18px -100px;
        }
        .video-controls ol {
            padding: 0;
            list-style: none;
            font-size: 1em;
            line-height: 2.5em;
            text-align: center;
        }
        .video-controls li::before,
        .video-controls li:last-of-type::after {
            content: ' ';
            display: inline-block;
            margin: 0 7px 0 0;
            width: 18px;
            height: 10px;
            vertical-align: baseline;
            background: url('../img/sprite.png') -34px -72px no-repeat;
        }
        .video-controls li:last-of-type::after {
            margin: 0 0 0 7px;
        }

/*
 * Panes decoration
 */

.video-poster {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/slider/boxe.jpg') 50% 0 repeat-x;
}
#video-2 .video-poster {
    background-image: url('../img/slider/danse.jpg');
}
#video-3 .video-poster {
    background-image: url('../img/slider/rugby.jpg');
}
#video-4 .video-poster {
    background-image: url('../img/slider/roller.jpg');
}
#video-5 .video-poster {
    background-image: url('../img/slider/foot.jpg');
}

.video-wrapper article:hover .video-poster {
   -moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
}


/*
 * Video size
 */

.video-wrapper article video {
    display: block;
    width: 40em; /* 640px */
    height: 22.5em; /* 360px */
}
:-webkit-full-screen video { max-height: 100%; width: 100%; height: 100%; }
:-moz-full-screen video { max-height: 100%; width: 100%; height: 100%; }


/*
 * Additional content
 */

.additional-content-wrapper {
    text-align: center;
}
    .additional-content-wrapper.loading > div {
        height: 2em;
        margin: 10em auto 3em;
        background: url('../img/sprite.png') no-repeat 50% -40px;
   -moz-animation: additionnal-content-loading 3s ease infinite;
-webkit-animation: additionnal-content-loading 3s ease infinite;
     -o-animation: additionnal-content-loading 3s ease infinite;
        animation: additionnal-content-loading 3s ease infinite;
    }
        .additional-content-wrapper h2::after {
            content: ' ';
            display: block;
            width: 100%;
            height: 1em;
            margin: .625em 0 1.25em;
            background: url('../img/sprite.png') no-repeat 50% -40px;
        }
        @-moz-keyframes additionnal-content-loading {
            0%   { opacity: 1; }
            50%  { opacity: 0; }
            100% { opacity: 1; }
        }
        @-webkit-keyframes additionnal-content-loading {
            0%   { opacity: 1; }
            50%  { opacity: 0; }
            100% { opacity: 1; }
        }
        @-o-keyframes additionnal-content-loading {
            0%   { opacity: 1; }
            50%  { opacity: 0; }
            100% { opacity: 1; }
        }
        @keyframes additionnal-content-loading {
            0%   { opacity: 1; }
            50%  { opacity: 0; }
            100% { opacity: 1; }
        }
        .additional-content-wrapper img,
        .additional-content-wrapper video {
       -moz-box-shadow: 0 0 1em rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 1em rgba(0,0,0,.6);
            box-shadow: 0 0 1em rgba(0,0,0,.6);
        }
    /* #top backlink */
    .additional-content-wrapper > nav > a {
        display: inline-block;
        margin-top: 2.5em;
        padding-top: 2.5em;
        font-size: 1.25em;
        line-height: 1;
        background: url('../img/sprite.png') no-repeat -76px -72px;
   -moz-transition: all .1s;
-webkit-transition: all .1s;
     -o-transition: all .1s;
        transition: all .1s;
    }
    .additional-content-wrapper > nav > a:hover {
        margin-top: 2em;
        padding-top: 3em;
    }
    .makingoff ul {
        max-width: 40em;
        margin: auto;
        text-align: left;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
