<h2 id="credits">Crédits</h2>

<p>Ce webdocumentaire a été réalisé dans le cadre d’un projet universitaire, par des étudiants de l’ISIC de l’Université Bordeaux III et sous la direction de <a href="http://jfd.fr">Jean-François Dareths</a>.</p>

<p>Nous remercions les personnes qui se sont prêtées au jeu des interviews et aux intervenants qui nous ont aidés de près ou de loin à la réalisation de ce projet.</p>

<h3>Etudiants ayant participés au projet</h3>

<p>Philippe Bayle, Célia Charrier, Céline Delamer, <a href="http://abdlg.qinti.fr/">Bruno Ilave</a>, <a href="http://helena-lescanne.fr/">Héléna Lescanne</a>, Marine Marsot, <a href="http://jordan-mayoukou.fr/">Jordan Mayoukou</a>, Elodie Miramon, <a href="http://menant-benjamin.fr/">Benjamin Menant</a> et Cyrcée Millan.</p>

<h3>Professionnels Intervenants</h3>

<p><a href="http://jfd.fr">Jean-François Dareths</a> et Luc De Tienda.</p>

<h3>Hébergement</h3>

<p><a href="http://www.u-bordeaux3.fr/fr/l_universite/organisation/unites_de_formation/sciences_des_territoires_et_de_la_communication/sciences-de-l-information-et-de-la-communication-isic.html">ISIC</a>, université Bordeaux&nbsp;III</p>
