<h2 id="credits">Crédits</h2>


<div class="credits">
  <p>Ce webdocumentaire a été réalisé dans le cadre d’un projet universitaire, par des étudiants de l’ISIC de l’Université Bordeaux III et sous la direction de <a href="http://jfd.fr">Jean-François Dareths</a>.</p>
  <p>Nous remercions les personnes qui se sont prêtées au jeu des interviews et aux intervenants qui nous ont aidés de près ou de loin à la réalisation de ce projet.</p>

  <h3>Etudiants impliqués dans ce projet</h3>

  <p>Nous participâmes tous à la conception et la recherche d’idées. Ensuite, chacun contribua selon ses domaines de prédilection…</p>
  <ul>
    <li><a href="mailto:elodie.miramon@gmail.com">Élodie Miramon</a>&#8239;: chef de projet, camerawoman, intervieweuse.</li>
    <li><a href="http://menant-benjamin.fr">Benjamin Menant</a>&#8239;: développeur Web, designer Web, photographe (Pentax), cameraman.</li>
    <li><a href="mailto:celine.delamer@orange.fr">Céline De La Mer</a>&#8239;: designer Web, photographe (Nikon), monteuse vidéo.</li>
    <li><a href="mailto:phbayle@yahoo.com">Philippe Blaye</a>&#8239;: rédacteur, Intervieweur.</li>
    <li><a href="http://jordan-mayoukou.fr">Jordan Mayoukou</a>&#8239;: rédacteur Web, cameraman.</li>
    <li><a href="mailto:charrier.celia@gmail.com">Célia Charrier</a>&#8239;: camerawoman, monteuse vidéo.</li>
    <li><a href="mailto:marine.marsot@gmail.com">Marine Marseau</a>&#8239;: ingénieur du son, monteuse vidéo.</li>
    <li><a href="http://abdlg.qinti.fr">Bruno Illave Bonzano</a>&#8239;: cameraman, monteur vidéo.</li>
    <li><a href="http://helena-lescanne.fr">Héléna Lescanne</a>&#8239;: chargée du macking-off (tournage, montage…)</li>
    <li><a href="mailto:cyrcee.millan@gmail.com">Cyrcée Millan</a>&#8239;: camerawoman, monteuse vidéo.</li>
  </ul>

  <h3>Professionnels Intervenants</h3>
  <p><a href="http://jfd.fr">Jean-François Dareths</a> et Luc De Tienda. Merci à eux pour leur soutien et leur présence.</p>

  <h3>Personnes Interviewées</h3>
  <p>Nous souhaitons remercier chaleureusement les personnes suivantes (ainsi que leurs camarades qui nous ont supporté quelques minutes)…</p>
  <ul>
      <li>Le jeune boxeur Mitko et son entraineur Monsieur Zirouri du <a href="http://boxingclubbordelais.blogg.org/">Boxing Club Bordelais</a>.
      <li>Les rugbywomen Torha et Laura du club de rugby féminin <a href="http://esbb.rugby.free.fr/">ESBB</a>.
      <li>Le footballeur Jesse du club de foot Boé bon-encontre.
      <li>Les danseuses Mélissa et Pauline, ainsi que leur professeur Madame Sylvie Marchand-Rollin du <a href="http://www.danse-classique-bordeaux.fr/" title="Site Web de l’école de danse classique de Bordeaux">centre d’animation Bordeaux-Sud</a>.
      <li>Le rollerman Pierre Henry.
  </ul>

  <h3>Hébergement</h3>
  <p><a href="http://www.u-bordeaux3.fr/fr/l_universite/organisation/unites_de_formation/sciences_des_territoires_et_de_la_communication/sciences-de-l-information-et-de-la-communication-isic.html">ISIC</a>, université Bordeaux&nbsp;III.</p>

  <h3>Fonte</h3>
  <p>La fonte utilisée est <a href="http://velvetyne.fr/#rupture">Rupture</a>&#8239;; merci à son créateur Jérémy Landes-Nones.</p>

  <h3>N.&#8239;B.</h3>
  <p>Aucune chaussure n’a été maltraitée pour la réalisation de ce documentaire Web.</p>
</div>
