<style>.additional-content-wrapper>div{min-height:74em}</style>
<h2 id="experts">Contre-pieds</h2>

<h3 id="experts-podo">Podologie</h3>
<p>Pascal Petit n’est pas cordonier&#8239;; son boulot, c’est de prendre soin de vos pieds&#8239;!</p>
<p><video poster="img/podo.jpg" controls="controls">
      <source src="assets/videos/podo/podo.webm">
      <source src="assets/videos/podo/podo.mp4">
</video></p>

<h3 id="experts-psy">Psychanalyse</h3>
<p>Martine Versel ne nous parle pas exactement de ses souliers, mais peut-être des nôtres, ou de ceux des autres…</p>
<p><video poster="img/psy.jpg" controls="controls">
      <source src="assets/videos/psy/psy.webm">
      <source src="assets/videos/psy/psy.mp4">
</video></p>
