<h2 id="experts">Contre-pieds</h2>

<h3 id="experts-podologie">Podologie</h3>
<p>Pascal Petit n’est pas cordonier&#8239;; son boulot, c’est de prendre soin de vos pieds&#8239;!</p>
<p><video poster="assets/photos/test1.jpg" controls="controls">
      <source src="assets/videos/sintel-trailer-360p.ogv">
      <source src="assets/videos/sintel-trailer-360p.mp4">
</video></p>

<h3 id="experts-psychologie">Psychologie</h3>
<p>Martine Versel ne nous parle pas exactement de ses souliers, mais peut-être des nôtres, ou de ceux des autres…</p>
<p><video poster="assets/photos/test4.jpg" controls="controls">
      <source src="assets/videos/sintel-trailer-360p.ogv">
      <source src="assets/videos/sintel-trailer-360p.mp4">
</video></p>