<h2 id="flickr">À vous de jouer&#8239;!</h2>

<p><strong>Avez-vous gardé vos premières chaussures&#8239;?</strong> Oui&#8239;? Alors, courrez vite cherchez vos premiers crampons, vos premières pointes, vos premier patins, vos vieilles godasses, vos beaux souliers&#8239;; ceux avec lesquels vous avez vécu un moment fort…
<br />Prenez-les en photo et publiez-les sur <a href="http://www.flickr.com" target="_blank" class="target-blank">Flickr</a>, en les taggant <strong><a href="http://www.flickr.com/photos/chausstonunivers/tags/chaussmonunivers/" target="_blank" class="target-blank">chaussmonunivers</a></strong>.
<br />Elles rejoindront la collection communautaire&#8239;!</p>
