<h2 id="flickr">À vous de jouer&#8239;!</h2>

<p><strong>Avez-vous gardé vos premières chaussures&#8239;?</strong> Oui&#8239;? Alors, courrez vite cherchez vos premiers crampons, vos premières pointes, vos premier patins… vos vieilles godasses… vos beaux souliers, avec lesquels vous avez vécu un moment fort…
<br />Prenez-les en photo, puis publiez-les sur <a href="http://www.flickr.com">Flickr</a>, en les taggant <strong><a href="http://www.flickr.com/photos/tags/chausstonunivers">chausstonunivers</a></strong>.
<br />Elles rejoindront cette collection communautaire&#8239;!</p>

<p>Ici, l’intégration du flux Flickr.</p>
