<h2 id="makingoff">Making-off</h2>


<div class="makingoff">
    <h3>Partis pris</h3>

    <p>Le tournage d’une partie des vidéos a été réalisé à l’aide de nos propres smartphones. Ils nous ont permi, à moindre coût et très facilement, de multiplier les angles de vue. Certes, la qualité des enregistrements n’est pas optimale, mais nous les avons préférés au matériel encombrant (et quelque peu vétuste) de l’université. <br>
    Dans un second temps, un Canon 5D Mark II nous a été confié par notre formation et nous l’avons largement utilisé.</p>

    <p>En raison du temps et des moyens limités dont nous disposions pour réaliser ce site, nous ne pouvons garantir son fonctionnement sur l’ensemble des navigateurs du marché. Seules les récentes versions de Mozilla Firefox et Google Chrome sont supportées.</p>

    <section>
        <p>
            <a href="assets/photos/big/benjamin-boxe.jpg"><img src="assets/photos/thumbs/benjamin-boxe.jpg" alt="" /></a>
            <a href="assets/photos/big/celia-boxe.jpg"><img src="assets/photos/thumbs/celia-boxe.jpg" alt="" /></a>
            <a href="assets/photos/big/celia-boxe2.jpg"><img src="assets/photos/thumbs/celia-boxe2.jpg" alt="" /></a>
            <a href="assets/photos/big/interview-boxe.jpg"><img src="assets/photos/thumbs/interview-boxe.jpg" alt="" /></a>
            <a href="assets/photos/big/mains2celia-boxe.jpg"><img src="assets/photos/thumbs/mains2celia-boxe.jpg" alt="" /></a>
            <a href="assets/photos/big/marine-boxe.jpg"><img src="assets/photos/thumbs/marine-boxe.jpg" alt="" /></a>
            <a href="assets/photos/big/marine-luc-boxe.jpg"><img src="assets/photos/thumbs/marine-luc-boxe.jpg" alt="" /></a>
        </p><p class="video">
            <video controls="controls">
                <source src="assets/videos/makingoff/makingoff.webm">
                <source src="assets/videos/makingoff/makingoff.mp4">
            </video>
        </p><p>
            <a href="assets/photos/big/celia-balon2rugby.jpg"><img src="assets/photos/thumbs/celia-balon2rugby.jpg" alt="" /></a>
            <a href="assets/photos/big/celia-rugby.jpg"><img src="assets/photos/thumbs/celia-rugby.jpg" alt="" /></a>
            <a href="assets/photos/big/celia-rugby2.jpg"><img src="assets/photos/thumbs/celia-rugby2.jpg" alt="" /></a>
            <a href="assets/photos/big/equipe-interview-rugby.jpg"><img src="assets/photos/thumbs/equipe-interview-rugby.jpg" alt="" /></a>
            <a href="assets/photos/big/jordan-philippe-rugby.jpg"><img src="assets/photos/thumbs/jordan-philippe-rugby.jpg" alt="" /></a>
            <a href="assets/photos/big/marine-celine-rugby.jpg"><img src="assets/photos/thumbs/marine-celine-rugby.jpg" alt="" /></a>
            <a href="assets/photos/big/marine-foot.jpg"><img src="assets/photos/thumbs/marine-foot.jpg" alt="" /></a>
        </p><p>
            <a href="assets/photos/big/luc-marine-foot.jpg"><img src="assets/photos/thumbs/luc-marine-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/luc-celia-foot.jpg"><img src="assets/photos/thumbs/luc-celia-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/jordan-foot.jpg"><img src="assets/photos/thumbs/jordan-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/equipe-interview-foot.jpg"><img src="assets/photos/thumbs/equipe-interview-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/elodie-marine-interview-foot.jpg"><img src="assets/photos/thumbs/elodie-marine-interview-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/elodie-marine-foot.jpg"><img src="assets/photos/thumbs/elodie-marine-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/celia-perche-foot.jpg"><img src="assets/photos/thumbs/celia-perche-foot.jpg" alt="" /></a>
        </p><p class="video">
            <video controls="controls">
                <source src="assets/videos/makingoff/makingoff2.webm">
                <source src="assets/videos/makingoff/makingoff2.mp4">
            </video>
        </p><p>
            <a href="assets/photos/big/celia-marine-foot.jpg"><img src="assets/photos/thumbs/celia-marine-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/benjamin-helena-foot.jpg"><img src="assets/photos/thumbs/benjamin-helena-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/benjamin-foot.jpg"><img src="assets/photos/thumbs/benjamin-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/perche-smartphone-foot.jpg"><img src="assets/photos/thumbs/perche-smartphone-foot.jpg" alt="" /></a>
            <a href="assets/photos/big/celine-roller.jpg"><img src="assets/photos/thumbs/celine-roller.jpg" alt="" /></a>
            <a href="assets/photos/big/celine-roller2.jpg"><img src="assets/photos/thumbs/celine-roller2.jpg" alt="" /></a>
            <a href="assets/photos/big/elodie-celine-roller.jpg"><img src="assets/photos/thumbs/elodie-celine-roller.jpg" alt="" /></a>
        </p><p>
            <a href="assets/photos/big/benjamin-danse.jpg"><img src="assets/photos/thumbs/benjamin-danse.jpg" alt="" /></a>
            <a href="assets/photos/big/lunette-benjamin.jpg"><img src="assets/photos/thumbs/lunette-benjamin.jpg" alt="" /></a>
            <a href="assets/photos/big/trepied-smartphone.jpg"><img src="assets/photos/thumbs/trepied-smartphone.jpg" alt="" /></a>
            <a href="assets/photos/big/trepied-smartphone2.jpg"><img src="assets/photos/thumbs/trepied-smartphone2.jpg" alt="" /></a>
            <a href="assets/photos/big/_IGP6897_b.jpg"><img src="assets/photos/thumbs/_IGP6897_t.jpg" alt="" /></a>
            <a href="assets/photos/big/_IGP7002_b.jpg"><img src="assets/photos/thumbs/_IGP7002_t.jpg" alt="" /></a>
            <a href="assets/photos/big/_IGP7014_b.jpg"><img src="assets/photos/thumbs/_IGP7014_t.jpg" alt="" /></a>


        </p>
    </section>
</div>

<style>
.makingoff section {
    margin-bottom: 5em;
}
.makingoff section p {
    position: relative;
    height: 40em;
}
.makingoff img,
.makingoff video {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    margin:auto;
    text-align:center;
   -moz-box-shadow: 0 0 1em rgba(0,0,0,.6);
-webkit-box-shadow: 0 0 1em rgba(0,0,0,.6);
        box-shadow: 0 0 1em rgba(0,0,0,.6);
}
.makingoff .video {
    height: 22.5em;
    margin-top: 6.25em;
}
.makingoff section a:nth-child(1) img{
     -moz-transform:translate(-140px, -140px) rotate(-20deg);
  -webkit-transform:translate(-140px, -40px) rotate(-20deg);
       -o-transform:translate(-140px, -40px) rotate(-20deg);
      -ms-transform:translate(-140px, -40px) rotate(-20deg);
          transform:translate(-140px, -140px) rotate(-20deg);
}
.makingoff section a:nth-child(2) img{
     -moz-transform:translate(90px, -150px) rotate(18deg);
  -webkit-transform:translate(90px, -50px) rotate(18deg);
       -o-transform:translate(90px, -50px) rotate(18deg);
      -ms-transform:translate(90px, -50px) rotate(18deg);
          transform:translate(90px, -150px) rotate(18deg);
}
.makingoff section a:nth-child(3) img{
     -moz-transform:translate(-150px, 100px) rotate(33deg);
  -webkit-transform:translate(-150px, 250px) rotate(33deg);
       -o-transform:translate(-150px, 250px) rotate(33deg);
      -ms-transform:translate(-150px, 250px) rotate(33deg);
          transform:translate(-150px, 100px) rotate(33deg);
}
.makingoff section a:nth-child(4) img{
     -moz-transform:translate(210px, -10px) rotate(-10deg);
  -webkit-transform:translate(210px, 90px) rotate(-10deg);
       -o-transform:translate(210px, 90px) rotate(-10deg);
      -ms-transform:translate(210px, 90px) rotate(-10deg);
          transform:translate(210px, -10px) rotate(-10deg);
}
.makingoff section a:nth-child(5) img{
     -moz-transform:translate(-20px,-20px) rotate(-10deg);
  -webkit-transform:translate(-20px,80px) rotate(-10deg);
       -o-transform:translate(-20px,80px) rotate(-10deg);
      -ms-transform:translate(-20px,80px) rotate(-10deg);
          transform:translate(-20px,-20px) rotate(-10deg);
}
.makingoff section a:nth-child(6) img{
     -moz-transform:translate(90px,120px) rotate(5deg);
  -webkit-transform:translate(90px,220px) rotate(5deg);
       -o-transform:translate(90px,220px) rotate(5deg);
      -ms-transform:translate(90px,220px) rotate(5deg);
          transform:translate(90px,120px) rotate(5deg);
}

.makingoff section a:nth-child(7) img{
     -moz-transform:translate(190px, 240px) rotate(-15deg);
  -webkit-transform:translate(190px, 350px) rotate(-15deg);
       -o-transform:translate(190px, 350px) rotate(-15deg);
      -ms-transform:translate(190px, 350px) rotate(-15deg);
          transform:translate(190px, 240px) rotate(-15deg);
}
</style>
