<h2 id="makingoff">Making-off</h2>


<div class="makingoff">
    <h3>Mentions spéciales</h3>

    <p>Nous souhaitons remercier chaleureusement les personnes suivantes (ainsi que leurs camarades qui nous ont supporté quelques minutes)…</p>
    <ul>
        <li>Le jeune boxeur Mitko et son entraineur Monsieur Zirouri du <a href="http://boxingclubbordelais.blogg.org/">Boxing Club Bordelais</a>.
        <li>Les rugbywomen Torha et Laura du club de rugby féminin <a href="http://esbb.rugby.free.fr/">ESBB</a>.
        <li>Le footballeur Jesse du club de foot Boé bon-encontre.
        <li>Les danseuses Mélissa et Pauline, ainsi que leur professeur Madame Sylvie Marchand-Rollin du <a href="http://www.danse-classique-bordeaux.fr/" title="Site Web de l’école de danse classique de Bordeaux">centre d’animation Bordeaux-Sud</a>.
        <li>Le rollerman Pierre Henry.
    </ul>

    <p>Aucune chaussure n’a été maltraité pour la réalisation de ce documentaire Web.</p>

    <article id="makingoff-boxe">
        <p><a href="assets/photos/big/benjamin-boxe.jpg"><img src="assets/photos/thumbs/benjamin-boxe.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/celia-boxe.jpg"><img src="assets/photos/thumbs/celia-boxe.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/celia-boxe2.jpg"><img src="assets/photos/thumbs/celia-boxe2.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/interview-boxe.jpg"><img src="assets/photos/thumbs/interview-boxe.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/mains2celia-boxe.jpg"><img src="assets/photos/thumbs/mains2celia-boxe.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/marine-boxe.jpg"><img src="assets/photos/thumbs/marine-boxe.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/marine-luc-boxe.jpg"><img src="assets/photos/thumbs/marine-luc-boxe.jpg" alt="" /></a></p>
    </article>

    <article id="makingoff-rugby">
        <p><a href="assets/photos/big/celia-balon2rugby.jpg"><img src="assets/photos/thumbs/celia-balon2rugby.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/celia-rugby.jpg"><img src="assets/photos/thumbs/celia-rugby.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/celia-rugby2.jpg"><img src="assets/photos/thumbs/celia-rugby2.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/equipe-interview-rugby.jpg"><img src="assets/photos/thumbs/equipe-interview-rugby.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/jordan-philippe-rugby.jpg"><img src="assets/photos/thumbs/jordan-philippe-rugby.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/marine-celine-rugby.jpg"><img src="assets/photos/thumbs/marine-celine-rugby.jpg" alt="" /></a></p>
    </article>

    <article id="makingoff-foot">
        <p><a href="assets/photos/big/marine-foot.jpg"><img src="assets/photos/thumbs/marine-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/luc-marine-foot.jpg"><img src="assets/photos/thumbs/luc-marine-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/luc-celia-foot.jpg"><img src="assets/photos/thumbs/luc-celia-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/jordan-foot.jpg"><img src="assets/photos/thumbs/jordan-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/equipe-interview-foot.jpg"><img src="assets/photos/thumbs/equipe-interview-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/elodie-marine-interview-foot.jpg"><img src="assets/photos/thumbs/elodie-marine-interview-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/elodie-marine-foot.jpg"><img src="assets/photos/thumbs/elodie-marine-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/celia-perche-foot.jpg"><img src="assets/photos/thumbs/celia-perche-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/celia-marine-foot.jpg"><img src="assets/photos/thumbs/celia-marine-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/benjamin-helena-foot.jpg"><img src="assets/photos/thumbs/benjamin-helena-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/benjamin-foot.jpg"><img src="assets/photos/thumbs/benjamin-foot.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/perche-smartphone-foot.jpg"><img src="assets/photos/thumbs/perche-smartphone-foot.jpg" alt="" /></a></p>
    </article>

    <article id="makingoff-roller">
        <p><a href="assets/photos/big/celine-roller.jpg"><img src="assets/photos/thumbs/celine-roller.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/celine-roller2.jpg"><img src="assets/photos/thumbs/celine-roller2.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/elodie-celine-roller.jpg"><img src="assets/photos/thumbs/elodie-celine-roller.jpg" alt="" /></a></p>
    </article>

    <article id="makingoff-danse">
        <p><a href="assets/photos/big/benjamin-danse.jpg"><img src="assets/photos/thumbs/benjamin-danse.jpg" alt="" /></a></p>
    </article>


    <!--<article id="makingoff-podologie">
        <p>Le podologue Monsieur Pascal Petit de la clinique des sports de Mérignac.</p>
    </article>

    <article id="makingoff-psychologie">
        <p>La sémioticienne-psychanalyste Madame Martine Versel.</p>
    </article>-->

    <article id="makingoff-other">
        <p><a href="assets/photos/big/lunette-benjamin.jpg"><img src="assets/photos/thumbs/lunette-benjamin.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/trepied-smartphone.jpg"><img src="assets/photos/thumbs/trepied-smartphone.jpg" alt="" /></a></p>
        <p><a href="assets/photos/big/trepied-smartphone2.jpg"><img src="assets/photos/thumbs/trepied-smartphone2.jpg" alt="" /></a></p>
    </article>
</div>
